<script>
$(function(){
	$(".btn-send").click(function(e){
		e.preventDefault();
		var form = $("form#sendtorbform");
		var pdmDataElemt = $("input#pdmdata");
		pdmData = JSON.parse($("pre#jsondata").html());
		console.log(pdmData);
		pdmDataElemt.val(JSON.stringify(pdmData));
		form.submit();
	});
})
</script>

<div class="container">
	<h2><?php echo $pageTitle?></h2>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>JSON OUTPUT AS MUST BE SEND TO RANCHBE</h3>
			<form method="POST"
				action="http://daguerre3.sierbla.int/ranchbe/service/pdm/productversion/checkin"
				id="sendtorbform">
				<input type="hidden" name="pdmdata" id="pdmdata" value=""> <input type="submit"
					class="btn btn-success btn-send" value="Send To Ranchbe">
			</form>
		</div>
		<div class="panel-body">
			<pre id="jsondata"><?php echo $respons ?></pre>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>DUMP OF RESULT OBJECT</h3>
		</div>
		<div class="panel-body">
			<pre><?php var_dump( $result) ?></pre>
		</div>
	</div>
</div>
