<script>
$(function(){
	function chooseFile(name) {
		var chooser = $(name);
		chooser.unbind('change');
		chooser.change(function(evt) {
			console.log($(this).val());
		});
		chooser.trigger('click');
		chooser.attr('nwdirectory',1);
		chooser.attr('webkitdirectory',1);
		chooser.attr('directory',1);
		chooser.attr('multiple',1);
	}
	chooseFile('.fileDialog');
});
</script>

<div class="container">

	<h2><?php echo $pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
?>

	<fieldset>
		<legend>Basic</legend>
		<ul>
			<div class="form-group"><?php echo $this->formRow($form->get('wildspace_path'));?></div>
			<div class="form-group"><?php echo $this->formRow($form->get('converter_workingDir'));?></div>
			<div class="form-group"><?php echo $this->formRow($form->get('converter_working_cleanup'));?></div>
		</ul>
	</fieldset>
	
	<fieldset>
		<ul>
			<div class="form-group">
			<?php echo $this->formRow($form->get('cancel'));?>
			<?php echo $this->formRow($form->get('validate'));?>
			</div>
		</ul>
	</fieldset>

<?php echo $this->form()->closeTag();?>
</div>
