<div class="container">
	<div class="page-header">
	  <h1>Hoops, somethings went wrong, I'm sorry. <small>Don't panic, check messages belows.</small></h1>
	</div>
	
	<div class="alert alert-danger" role="alert">
			<?php echo $message ?>
	</div>
</div>
