<?php
echo $this->doctype();
$siteName = 'RbConverter';
$baseurl = BASEURL;
$logoUrl = $baseurl . '/img/logo.png';
(!isset($charset)) ? $charset='UTF-8' : null;
?>

<html lang="fr">
<head>
<meta charset="<?php echo $charset?>">
<?php echo $this->headTitle($siteName)->setSeparator(' - ')->setAutoEscape(false)?>
<?php


echo $this->headMeta()
	->appendName('viewport', 'width=device-width, initial-scale=1.0')
	->appendHttpEquiv('X-UA-Compatible', 'IE=edge')?>

<!-- Les styles -->
<?php

echo $this->headLink(array(
	'rel' => 'shortcut icon',
	'type' => 'image/vnd.microsoft.icon',
	'href' => $baseurl . '/img/favicon.png'
))
	->prependStylesheet($baseurl . '/css/application.css')
	->prependStylesheet($baseurl . '/js/jqueryui/themes/smoothness/jquery-ui.min.css')
	->prependStylesheet($baseurl . '/bootstrap/css/bootstrap-theme.min.css')
	->prependStylesheet($baseurl . '/bootstrap/css/bootstrap.min.css')?>

<!-- Scripts -->
<?php

echo $this->headScript()
	->prependFile($baseurl . '/js/jqueryui/jquery-ui.min.js')
	->prependFile($baseurl . '/js/jquery/jquery.min.js')
	->appendFile($baseurl . '/bootstrap/js/bootstrap.min.js')
	->appendFile($baseurl . '/js/application.js')?>

<script>
document.baseurl = "<?php echo $baseurl?>";
window.name="main rbconverter window";
$(function() {
});
</script>
</head>

<body>
	<div id="rb-main" class="container rb-main">
		<div id="rb-top"></div>
		<div id="rb-body">
		<?php echo $this->content; ?>
	</div>
		<div id="rb-footer"></div>
	</div>
</body>

</html>
