<div class="container">

	<h2><?php echo $pageTitle?></h2>

	<ul>
		<li><a href='/rbcs/configure/index'>Configure</a></li>
		<li><a href='/rbcs/ping/part'>Ping a Part</a></li>
		<li><a href='/rbcs/ping/product'>Ping a Product</a></li>
		<li><a href='/rbcs/ping/drawing'>Ping a Drawing</a></li>
		<li><a href='/rbcs/converter/index'>Converter</a></li>
		<li><a href='/rbcs/index/quitcatia'>Quit Catia</a></li>
	</ul>

</div>
