<div class="container">

	<h2><?php echo $pageTitle?></h2>

<?php
$form->prepare();
echo $this->form()->openTag($form);
?>

<fieldset>
		<legend>Basic</legend>
		<ul>
			<div class="form-group"><?php echo $this->formRow($form->get('upload'));?></div>
			<div class="form-group"><?php echo $this->formRow($form->get('fromType'));?></div>
			<div class="form-group"><?php echo $this->formRow($form->get('toType'));?></div>
			</ul>
	</fieldset>

	<fieldset>
		<ul>
			<div class="form-group">
	<?php echo $this->formRow($form->get('cancel'));?>
	<?php echo $this->formRow($form->get('validate'));?>
	</div>
		</ul>
	</fieldset>

<?php echo $this->form()->closeTag();?>
</div>
